/* .main img figiure{
  overflow: hidden;
}
.main img{
  transition: 1.1s ease-in-out;
  transform: scale(1.3);
} */

.main-container { 
  background-image: url("/public/images/background.jpg");
  background-repeat: no-repeat;
  background-position:inherit;
  background-size: cover;
  color: rgb(20, 195, 226);
}

.about-container {
  /* border: 2px solid blue; */
  background-color: rgba(231, 140, 204, 0.212);
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 75px;
  justify-content: center;
  box-shadow:     
    0px 100px 250px rgba(11, 198, 236, 0.478),
    0px 25px 30px rgba(11, 176, 236, 0.641);;
}

.about-header1 {
  /* border: 2px solid red; */
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  justify-content: center;
  text-align: center;
}
.about-header2{
  /* border: 2px solid red; */
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  justify-content: center;
  text-align: center;
  font-size: x-large;
  font-weight: 700;
}

.gallery-card{
  margin: 10px;
}

.gallery-card .card-img {
  border-radius: 0;
}

.gallery-card-article {
  padding: 10px;
}

.gallery-card figure {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.gallery-card figure img{
  transition: 1.1s ease-out;
}

.gallery-card figure img:hover {
  transform: scale(1.3);
}

.button-effect {
  display: block;
  transform: scale(1.0);
  transition: transform 0.23s ease-in-out;
}

.button-effect:hover {
  transform: scale(1.13);
  filter: drop-shadow(0 0 10px rgba(0, 5, 9, 0.319));
  z-index: 999;
}

/* Disable hover effects on mobile */
@media (max-width: 768px) {
  .button-effect:hover
  {
    transform: scale(1.0);
    filter: none;
  }
}